# Credentials for SimplePush
#
# The fields with '(required)' at the end means that a value needs to be provided.
# The fields with '(default = XYZ)' at the end means that if they aren't provided,
# then a default value will be set. Read the README file, section 'How to use OMV
# push notifications interface?', point number 3 for more information.
#
# Use the pound symbol ('#') for comments. Empty lines shouldn't matter.

# Section for handling the Simplepush devices that your can't receive the
# messages. Add as many devices needed.
#
# simplepush-device:
#    key: YOUR_SECOND_DEVICE_KEY (required)
#    password: YOUR_SECOND_DEVICE_PASSWORD (required)
#    salt: YOUR_SECOND_DEVICE_SALT (required)

simplepush-device:
    key: YOUR_SIMPLEPUSH_KEY
    password: YOUR_SIMPLEPUSH_PASSWORD
    salt: YOUR_SIMPLEPUSH_SALT

# Section for handling the web addresses used to access the OMV system that
# will be used to collect data. Add as many addresses needed.
#
# omv-system-address:
#     name: PREFERRED_NAME_FOR_THIS_ADRRESS (default = OMV-#)
#     hostname: YOUR_OMV_HOSTNAME (required if ip is not provided)
#     domain-name: YOUR_OMV_DOMAIN (required if ip is not provided)
#     port: YOUR_OMV_WEB_LINK_PORT (default = 80)
#     web-protocol: YOUR_OMV_WEB_PROTOCOL (default = http)
#     ip: YOUR_OMV_IP (required if hostname and domain-name are not provided)

omv-system-address:
    name: PREFERRED_NAME_FOR_THIS_ADRRESS
    hostname: YOUR_OMV_HOSTNAME
    domain-name: YOUR_OMV_DOMAIN
    port: YOUR_OMV_WEB_LINK_PORT
    web-protocol: YOUR_OMV_WEB_PROTOCOL
    ip: YOUR_OMV_IP


# Section for handling a data collector. Add as many addresses needed, check
# DataCollectors/README.md for available collectors and supported entries.
# A value for all fields and the collector's name are required.
#
# collector: COLLECTOR_NAME
#     parameter 1: VALUE
#     parameter 2: VALUE
#          .
#          .
#          .
#     parameter n: VALUE

collector: temperature_collector
    critical_temp: 70.0
    debug: true

# collector: updates_available_collector
#     temp_directory: /var/tmp/
#     debug: true

# collector: disk_space_collector
#     mount_path: /
#     disk_name: root-drive
#     temp_dir: /var/tmp/
#     free_percent: 20.0
#     days_interval: 7
#     debug: true